@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;

    background: linear-gradient(to bottom, #004aad, #5de0e6);
}

.caixa {
    background-color: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    width: 400px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    padding: 35px;
}

.caixa h1 {
    text-align: center;
    color:  rgb(241, 240, 240);
    margin-bottom: 30px;
}

.dados input {
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    margin-bottom: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: rgb(241, 240, 240);
}

.dados input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

button {
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    border: none;
    outline: none;
    color: #003881;
    font-weight: 600;
    transition: all 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: white;
    transform: translateY(-5px);
}

#mensagem {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.flash {
    width: 250px;
    max-width: 300px;
    border-radius: 10px;
    color: rgb(241, 240, 240);
    font-weight: 600;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    animation: slideDown 0.5s ease, fadeOut 0.5s ease 2.5s forwards;
}

.flash.success {
    background-color: rgba(18, 133, 0, 0.597);
}
.flash.error {
    background-color: rgba(133, 0, 0, 0.597);
}
.flash.warning {
    background-color: rgba(133, 69, 0, 0.597);
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}