@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #004aad, #5de0e6);
    position: relative;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.topo.ativo {
    margin-right: 320px;
}

.topo h1 {
    color: rgb(241, 240, 240);
    font-size: clamp(20px, 5vw, 32px);
    margin: 30px;
}

.botao-menu {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 7px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    cursor: pointer;
    z-index: 4;
}

.botao-menu.ativo {
    right: 330px;
}

.botao-menu:hover {
    background-color: white;
    transform: translateX(-5px);
}

.botao-menu i {
    font-size: 30px;
    color: rgb(22, 22, 22);
}

.caixa1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
    transition: all 0.3s;
}

.caixa1.ativo {
    width: calc(100% - 300px);
}

.linhatopo {
    height: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.menu-lateral {
    position: fixed;
    right: -100%;
    top: 0;
    width: 80%;
    max-width: 300px;
    height: 100%;
    background-color: #00002c;
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 3;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    transition: all 0.3s;
}

.menu-lateral.ativo {
    right: 0;
}

.menu-lateral ul {
    list-style-type: none;
    padding: 0;
    margin-top: 60px;
}

.menu-lateral ul li {
    padding: 15px 30px;
    color: rgb(241, 240, 240);
    transition: all 0.3s;
}

.menu-lateral ul li:hover {
    background-color: #010146;
}

.menu-lateral ul li a {
    text-decoration: none;
    color: rgb(241, 240, 240);
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-lateral ul li a i {
    font-size: 24px;
}

.menu-lateral ul li a i:hover {
    font-size: 20px;
}

.background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition: all 0.3s;
}

.background.ativo {
    opacity: 1;
    visibility: visible;
}

.conteudo {
    max-width: 100%;
    transition: all 0.3s;
    padding: 1rem;
}

.conteudo.ativo {
    margin-right: 300px;
}

.conteudo ul {
    margin: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    list-style: none;
    gap: 2rem;
    transition: all 0.3s;
}

.conteudo ul li {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    min-height: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    transition: all 0.3s;
}

.conteudo ul li h2 {
    font-size: 18px;
    text-align: start;
    color: rgb(241, 240, 240);
}

.subtitulo {
    display: flex;
    justify-content: space-evenly;
}

.tarefa {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.data {
    border: none;
    border-radius: 8px;
    width: auto;
    font-weight: 600;
    height: 20px;
    text-align: center;
    font-size: 15px;
    outline: none;
    color: rgb(207, 207, 207);
    white-space: nowrap;
}

.descricao {
    border: none;
    width: 100%;
    max-width: 350px;
    color: rgb(241, 240, 240);
    max-height: 150px;
    border-radius: 8px;
    font-size: clamp(11px, 2.5vw, 18px);
    overflow: hidden;
    overflow-wrap: break-word;
    outline: none;
}

.status {
    border: none;
    font-size: clamp(11px, 2.5vw, 15px);
    font-weight: 600;
    text-align: center;
}

.status-pendente {
    color: red;
}

.status-andamento {
    color: yellow;
}

.status-concluida {
    color: green;
}

#mensagem {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.flash {
    width: 250px;
    max-width: 300px;
    border-radius: 10px;
    color: rgb(241, 240, 240);
    font-weight: 600;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    animation: slideDown 0.5s ease, fadeOut 0.5s ease 2.5s forwards;
}

.flash.success {
    background-color: rgba(18, 133, 0, 0.597);
}
.flash.error {
    background-color: rgba(133, 0, 0, 0.597);
}
.flash.warning {
    background-color: rgba(133, 69, 0, 0.597);
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}