@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(to bottom, #004aad, #5de0e6);
    padding: 2rem 0;
}

.caixa {
    width: 800px;
    background-color: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 30px;
}

.caixa h1 {
    text-align: center;
    color: rgb(241, 240, 240);
    margin-bottom: 20px;
}

.nome-pesquisar {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.nome-pesquisar input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(241, 240, 240);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.nome-pesquisar input::placeholder {
    color: rgb(241, 240, 240);
    font-size: 18px;
}

.nome-pesquisar button {
    height: 50px;
    padding: 0 20px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.7);
    color: #003881;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
}

.nome-pesquisar button:hover {
    transform: translateY(-5px);
    background-color: white;
}

.home {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.0);
}

.home i {
    font-size: 40px;
    color: rgb(157, 152, 152);
    transition: 0.3s;
}

.home i:hover {
    transform: translateX(5px);
    color: white;
}

.resultado ul {
    margin: 20px 0;
    gap: 20px;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.resultado ul li {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    padding: 1rem;
    transition: all 0.3s;
}

.resultado ul li:focus-within {
    width: 100%;
    background-color: rgba(0, 17, 255, 0.1);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(34, 47, 119, 0.9);
    padding: 1rem;
    transform: translateY(-5px);
}

.titulo-id {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.titulo {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: rgb(241, 240, 240);
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    height: 30px;
}

.id {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    color: rgb(183, 180, 180);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    outline: none;
}

.dados {
    display: flex;
    justify-content: space-between;
}

.data-status {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

.data input {
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 8px;
    border-color: rgba(255, 255, 255, 0.7);
    color: rgb(241, 240, 240);
    font-size: 18px;
    font-weight: 600;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 5px 1rem;
    border: none;
}

.status {
    border: none;
    outline: none;
    font-size: clamp(11px, 2.5vw, 18px);
    font-weight: 600;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.0);
    color: rgb(241, 240, 240);
    border-radius: 9px;
    border-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 210px;
    padding: 5px 0;
}

.status-pendente {
    color: red;
}

.status-andamento {
    color: yellow;
}

.status-concluida {
    color: green;
}

.descricao {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    color: rgb(241, 240, 240);
    overflow: hidden;
    overflow-wrap: break-word;
    outline: none;
    font-size: 18px;
    border-radius: 9px;
    border-color: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: none;
}

.descricao::placeholder {
    color: rgb(241, 240, 240);
}

.resultado button {
    width: 100%;
    height: 30px;
    font-size: 15px;
    text-align: center;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.0);
    cursor: pointer;
    font-weight: 600;
    color: rgb(241, 240, 240);
    transition: all 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.resultado button:hover {
    background-color: white;
    transform: translateY(-5px);
    color: #003881;
}

#mensagem {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.flash {
    width: 250px;
    max-width: 300px;
    border-radius: 10px;
    color: rgb(241, 240, 240);
    font-weight: 600;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    animation: slideDown 0.5s ease, fadeOut 0.5s ease 2.5s forwards;
}

.flash.success {
    background-color: rgba(18, 133, 0, 0.597);
}
.flash.error {
    background-color: rgba(133, 0, 0, 0.597);
}
.flash.warning {
    background-color: rgba(133, 69, 0, 0.597);
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}