<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Duna</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/STYLEAdicionartarefa.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
</head>

<body>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div id="mensagem">
    {% for category, message in messages %}
    <div class="flash {{ category }}">
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}

  <a class="home" href="{{ url_for('Inicio') }}">
    <i class="fa-solid fa-house"></i>
  </a>

  <div class="caixa">
    <h1>Nova Tarefa</h1>
    <form action="{{ url_for('Adicionar_Tarefa')}}" id="Adicionar_Tarefa" method="post">
      <div class="dados">
        <input type="text" id="titulo" name="titulo" placeholder="Digite o título da sua tarefa aqui..." required>
      </div>

      <div class="dados">
        <textarea rows="5" cols="30" name="descricao" placeholder="Digite a descrição sua tarefa aqui..."></textarea>
      </div>

      <div class="dados">
        <input type="date" id="data" name="data_conclusao"
          placeholder="Informe a data de vencimento da sua tarefa aqui...">
      </div>

      <button type="submit" class="ADICIONAR">Adicionar</button>
    </form>
  </div>
</body>

</html>

<script>

</script>